<h1>Hello World</h1>
<h2><%= t "hello" %></h2>
<h2><%= l Date.today %></h2>
<p>I learning Rails</p>

<ul class="menu-home">
    <li>
        <%= link_to Contact.model_name.human, contacts_path, class: "action" %>
    </li>

    <li>
        <%= link_to Address.model_name.human, addresses_path, class: "action" %>
    </li>

    <li>
        <%= link_to Phone.model_name.human, phones_path, class: "action" %>
    </li>

    <li>
        <%= link_to Kind.model_name.human, kinds_path, class: "action" %>
    </li>
</ul>
