<h1>Hello World</h1>
<h2><%= t "hello" %></h2>
<h2><%= l Date.today %></h2>
<p>I learning Rails</p>

<ul>
    <li>
        <%= link_to Contact.model_name.human, contacts_path %>
    </li>

    <li>
        <%= link_to Address.model_name.human, addresses_path %>
    </li>

    <li>
        <%= link_to Phone.model_name.human, phones_path %>
    </li>

    <li>
        <%= link_to Kind.model_name.human, kinds_path %>
    </li>
</ul>
