<p id="notice"><%= notice %></p>

<p>
  <strong><%= Contact.human_attribute_name("name") %>:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong><%= Contact.human_attribute_name("email") %>:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong><%= Contact.human_attribute_name("kind") %>:</strong>
  <%= @contact.kind_id %>
</p>

<p>
  <strong><%= Contact.human_attribute_name("rmk") %>:</strong>
  <%= @contact.rmk %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
