<p id="notice"><%= notice %></p>

<p>
  <strong><%= Address.human_attribute_name("street") %>:</strong>
  <%= @address.street %>
</p>

<p>
  <strong><%= Address.human_attribute_name("city") %>:</strong>
  <%= @address.city %>
</p>

<p>
  <strong><%= Address.human_attribute_name("state") %>:</strong>
  <%= @address.state %>
</p>

<p>
  <strong><%= Address.human_attribute_name("contact") %>:</strong>
  <%= @address.contact_id %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
